body{
    font-family:Arial;
    margin:0;
    padding:20px;
    background:#121212;
    color:white;
    transition:0.3s;
}

.light{
    background:#f5f5f5;
    color:black;
}

.login,.panel{
    max-width:600px;
    margin:auto;
}

input,button{
    padding:10px;
    margin:5px;
    border-radius:8px;
    border:none;
}

button{
    cursor:pointer;
    background:#ff9800;
    color:white;
}

.tracker{
    background:#1e1e1e;
    padding:15px;
    margin:10px 0;
    border-radius:10px;
}

.light .tracker{
    background:#ffffff;
}

.progress{
    width:100%;
    height:15px;
    background:#333;
    border-radius:10px;
    overflow:hidden;
    margin-top:5px;
}

.progress-bar{
    height:100%;
    background:#00e676;
    width:0%;
}

.top-bar{
    display:flex;
    justify-content:space-between;
}
.hidden{display:none;}